APP_PORT=8088
DB_NAME=shuttering_inventory
DB_USER=inventory_user
DB_PASSWORD=replace_with_a_strong_password
MYSQL_ROOT_PASSWORD=replace_with_a_different_strong_root_password
SESSION_COOKIE_SECURE=false
